@font-face {
    font-family: IranSans;
    src: url(../fonts/IRANSansWeb.woff2) format("woff2");
}

body{
    background-color: #f5f5f5;
    font-size: 14px;
    font-family: IranSans;
    padding: 0;
    margin: 0;
    line-height: 1.7;
    direction: rtl;
}

input{
    font-family: IranSans ;
}

.header{
    color: #fff;
    padding-top: 35px;
    min-height: 60px;
    background-color: #1d0065;
    border-bottom: 5px solid #de0000;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    padding: 0;
    margin: 0;
}

.header li{
    display: inline;
    padding: 0 20px;
    float: right;
}

.header a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.header ul li:hover {
    color: #fff;
    background-color: brown;
    border-radius: 3px;
}


.header .logoText{
    float: right;
}

.header .logoText h1{
    margin: 0;
}

.header .nav {
    float: left;
    margin-top: 5px;
}

.bgDesShow {
    color: #fff;
    text-align: center;
    min-height: 420px;
    background: url('../images/old-stone.jpg');
}

.bgDesShow h2 {
    font-size: 60px;
    margin-top: 70px;
    margin-bottom: 15px;
}

.bgDesShow p {
    font-size: 18px;
}

.boxes {
    margin-top: 15px;
}

.boxes .box {
    float: right;
    width: 30%;
    padding: 10px;
    text-align: center;
}

.boxes .box img {
    width: 300px;
}

.boxes .box h3 {
    font-weight: bold;
    font-size: 25px;
}

.sidebar {
    width: 30%;
    float: right;
    margin-top: 30px;
    padding: 15px;
    color: #fff;
    background-color: #130044;
    border-radius: 8px;
}

.post {
    float: left;
    width: 65%;
}

.footer {
    padding: 15px;
    margin-top: 15px;
    color: #fff;
    text-align: center;
    background-color: brown;
}

input,textarea{
    width: 100%;
    margin: 0 0 10px 0;
    padding: 10px;
    font-family: IranSans;
}

select {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 10px;
    font-family: IranSans;
}


.btn1{
    background-color: green;
    color: #fff;
}
*{
    box-sizing: border-box;
}

.contact-us h1 {
    margin-right: 146px;
}

.contact-us .container {
    width: 50%;
}



@media(max-width:768px){
    .header .logoText,
    .header .nav,
    .header .nav li,
    .boxes .box,
    .main-post .post,
    .main-post .sidebar,
    .header q,
    .contact-us
    {
        float: none;
        text-align: center;
        width: 100%;
    }

    .header {
        padding-bottom: 15px;
    }

    .bgDesShow h2 {
        font-size: 42px;
    }

    .bgDesShow p {
        font-size: 15px;
    }

    .main-post .sidebar {
        padding: 15px 0;
    }

    .main-post .sidebar p {
        padding: 10px;
        margin: 0;
    }
   .contact-us h1 {
    margin-right: 0;
    text-align: center;
    font-size: 15px;
   }
}